<div class="registration-form">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="userName">Username</mat-label>
                <input matInput type="text" id="userName" name="userName" [(ngModel)]="user.userName" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" id="password" name="password" [(ngModel)]="user.password" required>
            </mat-form-field>
        </div>
        <button type="submit" [disabled]="registrationForm.invalid" mat-button>Register</button>
    </form>
</div>