/* styles.css or styles.scss */


/* Style the spacers */

.nav-space {
    margin: 0 10px;
    /* Adjust the margin for the desired space */
}

.nav-tab {
    margin: 0 40px;
    /* Adjust the margin for the desired space */
}


/* Style the left navigation */

.left-nav {
    flex: 1;
    display: flex;
    align-items: center;
}

.tool-bar {
    padding-bottom: 40px;
}


/* Style the right navigation */

.right-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Center the logo container */

.header-content {
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


/* Adjust the margin between the navigation links */

.mat-button {
    margin-right: 10px;
}


/* Style for registration form */

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}


/* Center the registration form */

@media (max-width: 600px) {
    .login-form {
        width: 100%;
    }
}