<div class="tool-bar">
    <mat-toolbar color="primary">
        <nav class="left-nav">
            <div *ngIf="!logedIn">
                <a mat-button routerLink="/discover">Discover</a>
                <span class="nav-space"></span>
                <!-- Add a spacer -->
                <a mat-button routerLink="/search">Search</a>
                <span class="nav-tab"></span>
                <!-- Add a spacer -->
            </div>

            <div *ngIf="logedIn">
                <div *ngIf="role=='USER'">
                    <a mat-button routerLink="/discover">Discover</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/search">Search</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/userProjects">My Projects</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/createProject">Create Project</a>
                    <span class="nav-tab"></span>
                </div>
                <div *ngIf="role=='ADMIN'">
                    <a mat-button routerLink="/search">Search</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/list/suspicion">Suspicions</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/list/verify">Verify</a>
                    <span class="nav-space"></span>
                </div>
            </div>
        </nav>
        <div class="header-content" (click)="navigateToHome()">
            <img alt="logo" src="../assets/logo-white.png" style="width: 100px;" />
        </div>
        <nav class="right-nav">
            <div *ngIf="!logedIn">
                <a mat-button routerLink="/login">Login</a>
                <span class="nav-space"></span>
                <!-- Add a spacer -->
                <a mat-button routerLink="/register">Register</a>
            </div>
            <div *ngIf="logedIn">
                <a mat-button routerLink="/user">{{getUserName()}}</a>
                <span class="nav-space"></span>
                <a mat-button (click)="logOut()">Logout</a>
            </div>
        </nav>
    </mat-toolbar>
</div>
<mat-card class="container">
    <div class="filters-and-serch">
        <div class="search">
            <mat-form-field appearance="fill">
                <mat-label>Search projects</mat-label>
                <input matInput [(ngModel)]="searchTerm" (keyup)="applyFilters()" placeholder="Type to search...">
            </mat-form-field>
        </div>

        <div class="filters">
            <div class="project-type">
                <mat-form-field appearance="fill">
                    <mat-label>Project Type</mat-label>
                    <mat-select [(ngModel)]="selectedFilter" (selectionChange)="applyFilters()">
                        <mat-option *ngFor="let status of projectStatus" [value]="status">{{ status }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="sort-by">
                <mat-form-field appearance="fill">
                    <mat-label>Sort by</mat-label>
                    <mat-select [(ngModel)]="selectedProjectElement" (selectionChange)="applyFilters()">
                        <mat-option *ngFor="let element of projectElements" [value]="element">{{ element }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="sorting-direction">
                <mat-form-field appearance="fill">
                    <mat-label>Direction of sorting</mat-label>
                    <mat-select [(ngModel)]="selectedDirection" (selectionChange)="applyFilters()">
                        <mat-option *ngFor="let direction of direction" [value]="direction">{{ direction }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="project-tags">
                <mat-form-field appearance="fill">
                    <mat-label>Project Tags</mat-label>
                    <mat-select multiple (selectionChange)="onTagSelect($event)">
                        <mat-option *ngFor="let tag of allTags" [value]="tag">{{ tag.tagName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>
    <mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 12,16]" (page)="onPageChange($event)">
    </mat-paginator>
    <div class="projects">
        <div *ngFor="let project of paginatedProjects">
            <mat-card (click)="onCardClick(project.projectName)">
                <div class="project">
                    <div class="project-banner">
                        <div *ngIf="loading" class="loading-spinner">Loading...</div>
                        <div *ngIf="!loading">
                            <!--<img mat-card-image class="resized-banner-image" src="assets/{{this.project.responsibleUser.userName}}/{{project.projectName}}/banner/{{project.bannerURL}}" alt="Descriptive Image Text">-->
                            <img mat-card-image class="resized-banner-image" src="assets/No-Image-Placeholder.png" alt="Descriptive Image Text">
                        </div>
                    </div>



                    <div class="project-info">
                        <span>{{project.projectName}}</span><br>
                        <span>{{project.summery}}</span><br>
                        <span>{{project.planedDateOfClosing}}</span><br>
                        <span *ngFor="let tag of project.tags">{{tag.tagName}} </span>
                        <mat-progress-bar mode="determinate" [value]="project.moneyCollected" [bufferValue]="project.goal"></mat-progress-bar>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</mat-card>