.nav-space {
    margin: 0 10px;
    /* Adjust the margin for the desired space */
}

.nav-tab {
    margin: 0 40px;
    /* Adjust the margin for the desired space */
}


/* Style the left navigation */

.left-nav {
    flex: 1;
    display: flex;
    align-items: center;
}


/* Style the right navigation */

.right-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tool-bar {
    padding-bottom: 40px;
}


/* Center the logo container */

.header-content {
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


/* Adjust the margin between the navigation links */

.mat-button {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    /* Adjust based on your layout */
    padding: 20px;
}

.filters-and-search {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.search,
.filters {
    flex: 1;
    min-width: 250px;
    /* Adjust minimum width as needed */
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    /* Align items vertically */
}

.project-type,
.sort-by,
.sorting-direction,
.project-tags {
    flex-grow: 1;
    flex-basis: calc(25% - 20px);
    /* Adjust the percentage based on number of filters */
}


/* Responsive adjustments */

@media (max-width: 768px) {
    .project-type,
    .sort-by,
    .sorting-direction,
    .project-tags {
        flex-basis: 100%;
    }
}

mat-form-field {
    width: 100%;
    /* Full width of their container */
}

.resized-banner-image {
    width: 100%;
    /* Make image take full width */
    height: 100%;
    /* Make image take full height */
    object-fit: cover;
    /* This ensures the image covers the area without distorting aspect ratio */
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 20px;
    /* Responsive grid for projects */
    gap: 20px;
    /* Space between projects */
}

.container {
    background-color: #f5f2f2;
}

.project-banner {
    height: 150px;
    /* Set a fixed height */
    width: 100%;
    /* Ensure it takes full width of the card */
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
    /* Hide overflow to maintain the size */
}

.project-info {
    padding: 10px;
}

.mat-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

.mat-progress-bar {
    margin-top: 10px;
    /* Space above the progress bar */
}