<div class="tool-bar">
    <mat-toolbar color="primary">
        <nav class="left-nav">
            <div *ngIf="!logedIn">
                <a mat-button routerLink="/discover">Discover</a>
                <span class="nav-space"></span>
                <!-- Add a spacer -->
                <a mat-button routerLink="/search">Search</a>
                <span class="nav-tab"></span>
                <!-- Add a spacer -->
            </div>

            <div *ngIf="logedIn">
                <div *ngIf="role=='USER'">
                    <a mat-button routerLink="/discover">Discover</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/search">Search</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/userProjects">My Projects</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/createProject">Create Project</a>
                    <span class="nav-tab"></span>
                </div>
                <div *ngIf="role=='ADMIN'">
                    <a mat-button routerLink="/search">Search</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/list/suspicion">Suspicions</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/list/verify">Verify</a>
                    <span class="nav-space"></span>
                </div>
            </div>
        </nav>
        <div class="header-content" (click)="navigateToHome()">
            <img alt="logo" src="../assets/logo-white.png" style="width: 100px;" />
        </div>
        <nav class="right-nav">
            <div *ngIf="!logedIn">
                <a mat-button routerLink="/login">Login</a>
                <span class="nav-space"></span>
                <!-- Add a spacer -->
                <a mat-button routerLink="/register">Register</a>
            </div>
            <div *ngIf="logedIn">
                <a mat-button (click)="toUserProfile(getUserName())">{{getUserName()}}</a>
                <span class="nav-space"></span>
                <a mat-button (click)="logOut()">Logout</a>
            </div>
        </nav>
    </mat-toolbar>
</div>
<div class="content">
    <mat-card class="user-info">
        <div class="user-name">
            User name: {{userProfile?.userName}}
        </div>
        <div class="first-and-last-name">
            First and last name: {{userProfile?.firstName}} {{userProfile?.lastName}}
        </div>
        <div class="role">
            Role: {{roleProfile}}
        </div>
        <div class="email">
            Email: {{userProfile?.email}}
        </div>
        <div *ngIf="userName==this.user?.userName">
            <a mat-button type="button" (click)="modifayUser()">Chang data</a>
        </div>
    </mat-card>

    <div class="if-user-profile" *ngIf="userName==this.user?.userName">
        <div class="user-projects">
            <div class="section-header ">User Projects</div>
            <div class="projects" *ngFor="let project of userProjects">
                <mat-card (click)="onCardClickProject(project.projectName) ">
                    <div class="project ">
                        <!-- <div class="project-banner ">
                            <div *ngIf="loading " class="loading-spinner ">Loading...</div>
                            <div *ngIf="!loading ">
                                <>img mat-card-image class="resized-banner-image " src="assets/{{this.project.responsibleUser.userName}}/{{project.projectName}}/banner/{{project.bannerURL}} " alt="Descriptive Image Text ">
                                <img mat-card-image class="resized-banner-image " src="assets/No-Image-Placeholder.png " alt="Descriptive Image Text ">
                            </div>
                        </div> -->
                        <div class="project-info ">
                            <span>{{project.projectName}}</span><br>
                            <span>{{project.summery}}</span><br>
                            <span>{{project.planedDateOfClosing}}</span><br>
                            <span>{{project.status}}</span>
                            <span *ngFor="let tag of project.tags ">{{tag.tagName}} </span>
                            <mat-progress-bar mode="determinate" [value]="project.moneyCollected " [bufferValue]="project.goal "></mat-progress-bar>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div class="user-benefits ">
            <div class="section-header ">User Benefits</div>
            <div class="benefits " *ngFor="let benfit of userBenefits ">
                <mat-card (click)="onCardClickProject(benfit.project.projectName)">
                    <span>{{benfit.project.projectName}}></span>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="if-not-user-profile " *ngIf="userName!=this.user?.userName ">
        <div class="user-projects">
            <div class="section-header ">User Projects</div>
            <div class="projects" *ngFor="let project of userProjects">
                <mat-card (click)="onCardClickProject(project.projectName) ">
                    <div class="project ">
                        <div class="project-banner ">
                            <div *ngIf="loading " class="loading-spinner ">Loading...</div>
                            <div *ngIf="!loading ">
                                <!--<img mat-card-image class="resized-banner-image " src="assets/{{this.project.responsibleUser.userName}}/{{project.projectName}}/banner/{{project.bannerURL}} " alt="Descriptive Image Text ">-->
                                <img mat-card-image class="resized-banner-image " src="assets/No-Image-Placeholder.png " alt="Descriptive Image Text ">
                            </div>
                        </div>



                        <div class="project-info ">
                            <span>{{project.projectName}}</span><br>
                            <span>{{project.summery}}</span><br>
                            <span>{{project.planedDateOfClosing}}</span><br>
                            <span *ngFor="let tag of project.tags ">{{tag.tagName}} </span>
                            <mat-progress-bar mode="determinate" [value]="project.moneyCollected " [bufferValue]="project.goal "></mat-progress-bar>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>