.nav-space {
    margin: 0 10px;
}

.nav-tab {
    margin: 0 40px;
}

.left-nav {
    flex: 1;
    display: flex;
    align-items: center;
}

.right-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tool-bar {
    padding-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Adds space between cards */
    max-width: 70%;
    /* Adjust as needed to prevent full width */
    margin: 0 auto;
    /* Centers the content within the page */
}

.user-info {
    padding: 16px;
    /* Padding inside the card */
    margin-bottom: 30px;
    /* Additional space below the user-info card */
}

.left-nav {
    flex: 1;
    display: flex;
    align-items: center;
}

.right-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tool-bar {
    padding-bottom: 40px;
}

.header-content {
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.mat-button {
    margin-right: 10px;
}

.if-user-profile,
.if-not-user-profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* Space between projects and benefits */
}

.user-projects,
.user-benefits {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* Set a maximum width */
    margin: 0 auto;
    /* Center within their container */
    gap: 8px;
    /* Space between cards within the section */
}

.section-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.projects,
.benefits {
    margin-bottom: 20px;
}

.project,
.benefits {
    display: flex;
    flex-direction: column;
}

.resized-banner-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-info {
    font-size: 0.9em;
    line-height: 0.7;
}

.project-info span {
    display: block;
    margin-bottom: 5px;
}

mat-progress-bar {
    margin-top: 10px;
}