<div class="tool-bar">
    <mat-toolbar color="primary">
        <nav class="left-nav">
            <div *ngIf="!logedIn">
                <a mat-button routerLink="/discover">Discover</a>
                <span class="nav-space"></span>
                <!-- Add a spacer -->
                <a mat-button routerLink="/search">Search</a>
                <span class="nav-tab"></span>
                <!-- Add a spacer -->
            </div>

            <div *ngIf="logedIn">
                <div *ngIf="role=='USER'">
                    <a mat-button routerLink="/discover">Discover</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/search">Search</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/userProjects">My Projects</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/createProject">Create Project</a>
                    <span class="nav-tab"></span>
                </div>
                <div *ngIf="role=='ADMIN'">
                    <a mat-button routerLink="/search">Search</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/list/suspicion">Suspicions</a>
                    <span class="nav-space"></span>
                    <a mat-button routerLink="/list/verify">Verify</a>
                    <span class="nav-space"></span>
                </div>
            </div>
        </nav>
        <div class="header-content" (click)="navigateToHome()">
            <img alt="logo" src="../assets/logo-white.png" style="width: 100px;" />
        </div>
        <nav class="right-nav">
            <div *ngIf="!logedIn">
                <a mat-button routerLink="/login">Login</a>
                <span class="nav-space"></span>
                <!-- Add a spacer -->
                <a mat-button routerLink="/register">Register</a>
            </div>
            <div *ngIf="logedIn">
                <a mat-button (click)="toUserProfile(getUserName())">{{getUserName()}}</a>
                <span class="nav-space"></span>
                <a mat-button (click)="logOut()">Logout</a>
            </div>
        </nav>
    </mat-toolbar>
</div>
<div class="home">
    <div class="carousel-container-newest">

        <div class="carousel-header-a">
            <h2 class="carousel-title-a">Newest projects</h2>
            <p class="carousel-description-a">Some new projects that may catch your attention.</p>
        </div>

        <mat-card class="project">
            <button mat-icon-button class="carousel-prev" (click)="previous(1)">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="carousel-item" *ngIf="currentItem1">
                <div class="project-spec" (click)="moveToProject(currentItem1.projectName)">
                    <div class="project-banner">
                        <div *ngIf="loading" class="loading-spinner">
                            <img mat-card-image class="resized-banner-image" src="assets/No-Image-Placeholder.png" alt="Descriptive Image Text">
                        </div>
                        <div *ngIf="!loading">
                            <img mat-card-image class="resized-banner-image" src="assets/{{currentItem1.responsibleUser.userName}}/{{currentItem1.projectName}}/banner/{{currentItem1.bannerURL}}" alt="Descriptive Image Text">
                        </div>
                    </div>

                    <div class="project-info">
                        <span>{{currentItem1.projectName}}</span><br>
                        <span>{{currentItem1.summery}}</span><br>
                        <span>{{currentItem1.planedDateOfClosing}}</span><br>
                        <span *ngFor="let tag of currentItem1.tags">{{tag.tagName}} </span>
                        <mat-progress-bar mode="determinate" [value]="currentItem1.moneyCollected" [bufferValue]="currentItem1.goal"></mat-progress-bar>
                    </div>
                </div>
            </div>

            <button mat-icon-button class="carousel-next" (click)="next(1)">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-card>
    </div>

    <div class="carousel-container-closest-to-goal">

        <div class="carousel-header-b">
            <h2 class="carousel-title-b">Soon closing</h2>
            <p class="carousel-description-b">Projects that are soon closing but still haven't met their goals.</p>
        </div>

        <mat-card class="project">
            <button mat-icon-button class="carousel-prev" (click)="previous(2)">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="carousel-item" *ngIf="currentItem2">
                <div class="project-spec" (click)="moveToProject(currentItem2.projectName)">
                    <div class="project-banner">
                        <div *ngIf="loading" class="loading-spinner">
                            <img mat-card-image class="resized-banner-image" src="assets/No-Image-Placeholder.png" alt="Descriptive Image Text">
                        </div>
                        <div *ngIf="!loading">
                            <img mat-card-image class="resized-banner-image" src="assets/{{currentItem2.responsibleUser.userName}}/{{currentItem2.projectName}}/banner/{{currentItem2.bannerURL}}" alt="Descriptive Image Text">
                        </div>
                    </div>

                    <div class="project-info">
                        <span>{{currentItem2.projectName}}</span><br>
                        <span>{{currentItem2.summery}}</span><br>
                        <span>{{currentItem2.planedDateOfClosing}}</span><br>
                        <span *ngFor="let tag of currentItem2.tags">{{tag.tagName}} </span>
                        <mat-progress-bar mode="determinate" [value]="currentItem2.moneyCollected" [bufferValue]="currentItem2.goal"></mat-progress-bar>
                    </div>
                </div>
            </div>

            <button mat-icon-button class="carousel-next" (click)="next(2)">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-card>
    </div>
    <div class="carousel-container-closest-to-end-date">

        <div class="carousel-header-c">
            <h2 class="carousel-title-c">Closest to goal</h2>
            <p class="carousel-description-c">Projects that are really close to meet their goal.</p>
        </div>

        <mat-card class="project">
            <button mat-icon-button class="carousel-prev" (click)="previous(3)">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="carousel-item" *ngIf="currentItem3">
                <div class="project-spec" (click)="moveToProject(currentItem3.projectName)">
                    <div class="project-banner">
                        <div *ngIf="loading" class="loading-spinner">
                            <img mat-card-image class="resized-banner-image" src="assets/No-Image-Placeholder.png" alt="Descriptive Image Text">
                        </div>
                        <div *ngIf="!loading">
                            <img mat-card-image class="resized-banner-image" src="assets/{{currentItem3.responsibleUser.userName}}/{{currentItem3.projectName}}/banner/{{currentItem3.bannerURL}}" alt="Descriptive Image Text">
                        </div>
                    </div>

                    <div class="project-info">
                        <span>{{currentItem3.projectName}}</span><br>
                        <span>{{currentItem3.summery}}</span><br>
                        <span>{{currentItem3.planedDateOfClosing}}</span><br>
                        <span *ngFor="let tag of currentItem3.tags">{{tag.tagName}} </span>
                        <mat-progress-bar mode="determinate" [value]="currentItem3.moneyCollected" [bufferValue]="currentItem3.goal"></mat-progress-bar>
                    </div>
                </div>
            </div>

            <button mat-icon-button class="carousel-next" (click)="next(3)">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-card>
    </div>
</div>