<mat-toolbar color="primary">
    <nav class="left-nav">
        <a mat-button routerLink="/discover">Discover</a>
        <span class="nav-space"></span>
        <!-- Add a spacer -->
        <a mat-button routerLink="/search">Search</a>
        <span class="nav-tab"></span>
        <!-- Add a spacer -->
    </nav>
    <div class="header-content" (click)="navigateToHome()">
        <img alt="logo" src="../assets/logo-white.png" style="width: 100px;" />
    </div>
    <nav class="right-nav">
        <div *ngIf="!logedIn">
            <a mat-button routerLink="/login">Login</a>
            <span class="nav-space"></span>
            <!-- Add a spacer -->
            <a mat-button routerLink="/register">Register</a>
        </div>
        <div *ngIf="logedIn">
            <a mat-button routerLink="/user">{{getUserName()}}</a>
            <span class="nav-space"></span>
            <a mat-button (click)="logOut()">Logout</a>
        </div>
    </nav>
</mat-toolbar>
<div class="home">
    <h1>Welcome to My Angular App</h1>
    <p>This is the home page of my Angular application.</p>
    <p>Here's some sample content for your home page.</p>
</div>
